#container
{
  width: 95%;
  height: 90%;
  margin: auto;
}

#dtd, #input
{
  margin-top: 2%;
  width: 45%;
  height: 60%;
}

#dtd
{
  float: left;
}

#input
{
  float: right;
  background-image: url("codeErrorLine.png");
  background-repeat: no-repeat;
  background-size: 1000px 24px;
  background-position: 0px 24px;
}

#input.noError
{
  background-image: none;
}

#checkBtnContainer
{
  float: left;
  width: 10%;
  height: 60%;
  align-content: center;
  display: flex;
  margin-top: 2%;
}

#check
{
  height: 40px;
  margin: auto;
  display: relative;
}

#evalContainer
{
  width: 90%;
  height: 30%;
  position: fixed;
  bottom: 0;
  margin: 2% auto;  
  text-align: center;
  justify-content: center;
}

#wellformed, #valid
{
  display: block;
  word-wrap: break-word;
  font-size: 29;
  margin-top: 1%;
}

textarea
{
  resize: none;
  font-size: 20px;
  border-color: #555E67;
  border-radius: 1%;
  outline: none;
}

.right
{
  color: var(--green);
}

.wrong
{
  color: red;
}