:root
{
  --light_gray: #58616b;
  --middle_gray: #444b51;
  --dark_gray: #35373d;
  --border_radius: 5px;
}

*
{
  box-sizing: border-box;
}

body
{
  /*margin: 0% calc(10vh + 2vw);*/
}

#container
{
  width: auto;
  height: auto;
  border: 0px solid green;
  margin: 3%;
  display: -webkit-flex;
}

#canvyContainer, #logicContainer
{
  display: inline-block;
}

#canvyContainer
{
  border: 0px solid red;
  /*width: 50%;*/
  /*float: left;*/
  height: calc(15vh + 30vw);
  width:  calc(15vh + 30vw);
  /*display: block;*/
}

#logicContainer
{
  border: 0px solid red;
  /*display: block;*/
  /*width: 50%;*/
  width: calc(20vh + 40vw);
  height: calc(15vh + 30vw);
  margin: auto 3%;
}

#canvy
{ 
    /*
    image-rendering: optimizeSpeed;             // Older versions of FF
    image-rendering: -moz-crisp-edges;          // FF 6.0+
    image-rendering: -webkit-optimize-contrast; // Webkit (non standard naming)
    image-rendering: -o-crisp-edges;            // OS X & Windows Opera (12.02+)
    image-rendering: crisp-edges;               // Possible future browsers.
    -ms-interpolation-mode: nearest-neighbor;   // IE (non standard naming)
    */
  
  --size: 75vh;
  border: 1px solid var(--hci_gray);
  width: 100% !important;
  height: 100%;
}
  
.pointy
{
  cursor: pointer;
  border: 1px solid red;
}

#infoContainer, #bitcodesContainer, #andorContainer, #resultContainer
{
  border: 0px solid green;
  padding: 3% 6%;
  width: 90%;
  margin: auto;
  font-size: calc(0.2vh + 1vw);
}

#infoContainer
{
  height: 20%;
}

#bitcodesContainer
{
  height: 20%;
}

#bc_caption
{
  border: 0px solid green;
  height: 30%;
  text-align: center;
  font-size: calc(0.3vh + 1.5vw);
}

#bc_b1, #bc_b2
{
  border: 0px solid red;
  width: 40.7%;
  height: 70%;
  display: inline-block;
  margin: auto;
  text-align: center;
  font-family: monospace;
}

#bc_b1
{
  float: left;
}

#bc_b2
{
  float: right
}

#andorContainer
{
  height: 40%;
  font-family: monospace;
}

#ao_and, #ao_or
{
  border: 0px solid red;
  width: 40.7%;
  height: 70%;
  display: inline-block;
  margin: auto;
  text-align: center;
}

#ao_and
{
  float: left;
}

#ao_or
{
  float: right;
}

#ao_result_and, #ao_result_or
{
  border: 0px solid pink;
  width: 40.7%;
  display: inline-block;
  margin: auto;
}

#ao_result_and
{
  float: left;
}

#ao_result_or
{
  float: right;
}

#resultContainer
{
  height: 20%;
}

hr
{
  background: #dee0ed;
  border: none;
  height: 1px;
}