<head>

	<meta charset="UTF-8"/>
	<title>Absorption</title>
	<link rel="icon" href="../../../resources/img/Icon.png">

	<link rel="stylesheet" href="../../../resources/css/stylesheet.css">
	<link rel="stylesheet" href="Augucation8_11.css">
	
</head>

<body>

	<script type="text/javascript" src="../../../resources/js/slideshow.js"></script> 
	<script type="text/javascript" src="../../../resources/js/css_variable_manager.js"></script>

	<div>
		<input id="backBtn" type="button" class="back button" onclick="CloseAugucation(8, 11);" name="back" value="<<"/>
	</div>

	<script type="text/javascript" src="Augucation8_11.js"></script>
	
</body>
