<head>

	<meta charset="UTF-8"/>
	<title>Quiz</title>
	
	<!-- ToDo: change paths!-->
	
	<link rel="icon" href="../resources/img/Icon.png">

	<link rel="stylesheet" href="../resources/css/stylesheet.css">
	<link rel="stylesheet" href="../resources/css/stylesheet_mc.css">
	
</head>

<body>

	<script type="text/javascript" src="../../../../resources/js/slideshow.js"></script> 
	<script type="text/javascript" src="../../../../resources/js/papaparse.min.js"></script> 

	<div id="mc_container" class="mc_container my_text">
		<div class="question_container">
			<span class="question">Wie cool ist Augucation?</span>
		</div>
		<div class="answer_container">
			<fieldset>
				<input type="radio" id="0_0" name="q0" value="0">
				<label for="0_0">Voll cool.</label>
				<br/>
				<input type="radio" id="0_1" name="q0" value="1">
				<label for="0_1">Gar nicht cool.</label>
				<br/>
				<input type="radio" id="0_2" name="q0" value="2">
				<label for="0_2">Naja so mittel cool.</label>
				<br/>
				<input type="radio" id="0_3" name="q0" value="3">
				<label for="0_3">Absoluter Wahnsinn!</label>
				<br/>	
			</fieldset>
		</div>
		
		
		<div class="question_container">
			<span class="question">Wie cool ist Augucation?</span>
		</div>
		<div class="answer_container">
			<fieldset>
				<input type="radio" id="0_0" name="q1" value="0">
				<label for="0_0">Voll cool.</label>
				<br/>
				<input type="radio" id="0_1" name="q1" value="1">
				<label for="0_1">Gar nicht cool.</label>
				<br/>
				<input type="radio" id="0_2" name="q1" value="2">
				<label for="0_2">Naja so mittel cool.</label>
				<br/>
				<input type="radio" id="0_3" name="q1" value="3">
				<label for="0_3">Absoluter Wahnsinn!</label>
				<br/>	
			</fieldset>
		</div>
		
		<div class="check_btn_container">
			<input type="button" class="check button" value="Check"/>
		</div>
		
	</div>
	
	<div>
		<input id="backBtn" type="button" class="back button" onclick="CloseAugucation(1, 135);" name="back" value="<<"/>
	</div>

</body>
