.wrapper
{
  width: 90vw;
  height: 80vh;
  position: relative;
  margin: auto;
}

.code
{
  width: 80vw;
  height: 10vh;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.radio_wrapper
{
  margin-top: 5vh;
}

fieldset
{
  border: none;
  text-align: center;
}

input[type=radio]
{
  width: 1.5em;
  height: 1.5em;
  margin-left: 3%;
}

.text, fieldset
{
  font-size: 3vh !important;
  margin-top: 10vh;
}