.chart
{
  width: 80vw;
  height: 50vh;
  margin-top: -2%;
  margin-left: auto;
  margin-right: auto;
}

.slider_block
{
  margin-top: 0%;
}

.slider_wrapper
{
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
  width:    54.27vw;
  height:   7vw;
  
}

.radio_wrapper
{
  margin-top: -1%;
}