#guiContainer
{
  border: 0px solid red;
  width: calc(40vw + 20vh);
  height: 35vh;
  margin: auto;
  position: relative;
  text-align: center;
}

#rotBtn0, #rotBtn1, #resetBtn
{
  position: relative;
  margin: 2% auto;
  font-size: 2vh !important;
}

#resetBtn
{
  margin: auto;
  position: relative;
  display: inherit;
}

#rotBtn0, #rotBtn1
{
  display: inline-block;
}

.highlighted
{
  color: var(--dark_red);
}

#teapotContainer
{
  border: 0px solid red;
  width: 40vw;
  height: 40vh;  
  margin: 2% auto;
}

#buttonAndSliderContainer
{
  width: calc(40vw + 20vh);
  align-content: center;
  margin: auto;
}

#radio_global, #radio_local
{
}

#sliderContainer
{
  width: 100%;  
}

#sliderContainerRotation, #sliderContainerTranslation
{
  display: inline-block;
  width: 40%;
}