.slider_interpretation
{
  margin-bottom: 2%;
}

@-moz-document url-prefix()
{
  .slider_interpretation
  {
   margin-bottom: 0%;
  }
}

.slider_wrap
{
  margin-top: 1%;
}

@-moz-document url-prefix()
{
  .slider_wrap
  {
   margin-top: 0%;
  }
}

#chart1, .flot-base, .flot-x-axis
{
  width: 50vw !important;
  height: 20vw !important;
  
  border: 0px solid pink;
}