.wrapper
{
  width: 100%;
  height: 90%;
  position: relative;
}

.code
{
  border: 0px solid var(--hci_gray);
  border-radius: 10px;
  width: 80vw;
  height: 10vh;
  margin-top: 7vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 28;
}

.radio_wrapper
{
  margin-top: 5%;
}

fieldset
{
  border: none;
  text-align: center;
  font-size: 28;
}

input[type=radio]
{
  width: 1.5em;
  height: 1.5em;
  margin-left: 3%;
}
