*
{
  box-sizing: border-box;
}

#canvyContainer
{
  border: 0px solid black;
  width: 50%;
  float: left;
  height: 75vh;
  margin: auto;
  display: block;
}

#canvy
{ 
    /*
    image-rendering: optimizeSpeed;             // Older versions of FF
    image-rendering: -moz-crisp-edges;          // FF 6.0+
    image-rendering: -webkit-optimize-contrast; // Webkit (non standard naming)
    image-rendering: -o-crisp-edges;            // OS X & Windows Opera (12.02+)
    image-rendering: crisp-edges;               // Possible future browsers.
    -ms-interpolation-mode: nearest-neighbor;   // IE (non standard naming)
    */
  
  --size: 75vh;
  border: 0px solid red;
  width: 75vh !important;
  height: var(--size);
}
  
.pointy
{
  cursor: pointer;
  border: 1px solid red;
}