.mc_container_container
{
  text-align: center;
}

.mc_container
{
  margin: 4% auto;
  display: inline-block;
  width: 35%;
  text-align: left;
}

.question_container
{
  margin-top: 2%;
  display: inline; /*inline*/
}

fieldset
{
  border: none;
  font-size: 20;
}

input[type=radio]
{
  width: 1.5em;
  height: 1.5em;
}

.check_btn_container
{
  margin-top: -2%;
}

.check
{
  width: 75px;
  height: 40px;
  font-size: 20;
  margin: 1% auto;
  display: block;
}