:root
{
	--hci_gray: #555e67;
	--hci_red:  #dc0b15;
	--dark_red: #B52121;
	--blue:     #351FC2;
	--green: 	#27B320;
	--orange:   #E8A231;
}

@font-face 
{
	font-family: 'uhh'; 
	src: 		 url('../fonts/TheSansUHH/TheSansUHHRegular.ttf') format('truetype');
}

.my_text
{
	font-family:   'uhh';
	font-size:      20px;
	color:		    var(hci_gray);
}

.textField
{
	background-color:  #E3E6E8;
	border-radius:     2px;
}

.header
{
	float: center;
}

.button
{
	background-color: #555e67;
	border: 		  none;
	border-radius: 	  4px;
	color:            white;
	padding: 		  0px 5px 5px 5px;
	text-align:       center;
	text-decoration:  none;
	display:          inline-block;
	font-size:        28px;
	margin:           10px 10px;
	cursor:           pointer;
}

.no-spin, .no-spin:hover, no-spin:focus
{
	-webkit-appearance: none;
	margin: 			0;
	-moz-appearance:	textfield;
	width:				34px;
	font-family:		'uhh';
	font-size:			20px;
	color:		    	#555e67;
	min: 				1;
	max:				3;
	text-align:			center;
	border: 			0px solid #4D90FE !important;
	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3) inset !important;
	-moz-box-shadow:	0 px 0px rgba(0, 0, 0, 0.3) inset !important;
	box-shadow:			0 0px 0px rgba(0, 0, 0, 0.3) inset !important;
	outline: 			none !important;
}

*:focus
{
	outline: none;
}

.button.pageButton
{
	margin: 		  10px 100px;
}

.wrapper
{
	position: relative;
	margin:   0; 
	padding:  0;
}

.canvas_wrapper
{
	position: relative;
	z-index:  1;
	border:	  0px solid black;	position: relative;
	z-index:  1;
	border:	  0px solid black;
	height:   80vh;
	display:  block;
	margin:   0; 
	padding:  0;
	display:  block;
	margin:   0; 
	padding:  0;	
}

.slideCanvas
{
}

.augButton
{
	background-color: white;
	background-image: url("../img/Icon.png");
	background-size:  80px 80px;
	border: 		  none;
	height:   		  80px;
	width:    		  80px;
	position: 		  fixed;
	z-index:  		  2;
	bottom:	  		  1%;
	right:    		  1%;
	align:    		  center;
	cursor:	  		  pointer;
}
	
.menuBtn
{
	background-color: var(--hci_gray);
	background-size:  50px 50px;
	border: 		  none;
	height:   		  50px;
	width:    		  50px;
  border-radius: 10px;
	position: 		  fixed;
	z-index:  		  2;
	bottom:	  		  1%;
	left:    		  1%;
	align:    		  center;
	cursor:	  		  pointer;
	color:        white;
}


.menuCloseBtn
{
	background-color: var(--hci_gray);
	background-size:  50px 50px;
	border: 		  none;
	height:   		  50px;
	width:    		  50px;
  border-radius: 10px;
	position: 		  absolute;
	z-index:  		  2;
	top:	  		  1%;
	right:    		  1%;
	align:    		  center;
	cursor:	  		  pointer;
	color:        white;
}

.menuBtnContainer
{
	margin-top: 10%;
}

.menuAugBtn
{
  background-color: var(--hci_gray);
	color: white;
	border: none;
	height: 30%;
	font-size: 100;
	margin-top: 10%; 
	cursor: pointer;
}

.menu
{
	background-color: var(--hci_gray);
	left: 0px;
	height: 100%;
	width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  transition: 0.5s;
}

div.content
{
	font-family: 'uhh';
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}