.radio_wrapper
{
  margin-top: 0%;
}

fieldset
{
  border: none;
  text-align: center;
  font-size: 28;
}

input[type=radio]
{
  width: 1.5em;
  height: 1.5em;
  margin-left: 3%;
}

.radio_label_small
{
  font-size: 20;
}