#guiContainer
{
  border: 0px solid red;
  width: 100%;
  width: calc(70vw + 50vh);
  height: 60vh;
  margin: auto;
  position: relative;
  text-align: center;
}

#rotBtn0, #rotBtn1, #resetBtn
{
  position: relative;
  margin: 2% auto;
  font-size: 2vh !important;
}

#resetBtn
{
  margin: auto;
  position: relative;
  display: inherit;
}

#rotBtn0, #rotBtn1
{
  display: inline-block;
}

#matricesContainer
{
  border: 0px solid blue;
  width: 100%;
  height: calc(9vh + 9vw);
  margin: auto;
  position: relative;
  display: inline-block;
  
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.multsym_container
{
  float: left;
  height:  calc(8vh + 8vw);
  width: 2%;
  display: table;
  text-align: center;
  margin-right: 0.5%;
}

.multsym
{
  font-size: 20px;
  display: table-cell;
  vertical-align: middle;
}

.sin_cos_font
{
  font-size: 1.4vh;
}

.x_font
{
  font-size: 1.5vh;  
}

.matrix_container
{
  float: left;
  border: 0px solid red;
  width: calc(7vh + 8vw);
  height: 100%;
}

.matrix
{
  border: 0px solid blue;
  font-size: 2vh;
  width:  100%;
  height: calc(7vh + 7vw);
  cursor: pointer;
  margin-top: 4%;
}

.matrix_title
{
  font-size: 3vh;
}

.matrix_bracket
{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  float: left;
  height:  calc(6vh + 6vw);
  width: 1%;
  margin-top: calc(1.5vh + 1.5vw);
}

.open
{
  background-image: url('../../resources/img/round_bracket_open.png');
}

.close
{
  background-image: url('../../resources/img/round_bracket_close.png');
}
  
.row
{
  border: 0px solid red;
  width:  100%;
  height: 25%;
  display: block;
}

.cell
{
  border: 0px solid green;
  width: 25%;
  height: 100%;
  display: inline-block;
}

.highlighted
{
  color: var(--dark_red);
  font-weight: bolder;
}

input[type=range]
{
 /* visibility: hidden;*/
}

#sliderContainer
{
  height: 50%;
}

.innerSliderContainer
{
  display: none;
}

#teapotContainer
{
  border: 0px solid red;
  width: 30vw;
  height: 30vh;  
  margin: 4% auto 2% auto;
}