#guiContainer
{
  border: 0px solid red;
  width: 95%;
  height: auto; /*calc(35vh + 11vw);*/
  margin: auto;
  position: relative;
  text-align: center;
}

#Explanation
{
  width: 65%;
  display: inline-block;
}

#resetBtn
{
  margin: auto;
  position: relative;
  display: inherit;
  font-size: 2vh !important;
}

#rotBtn0, #rotBtn1
{
  display: inline-block;
}

#matricesContainer
{
  border: 0px solid blue;
  width: 100%;
  height: calc(12vh + 9vw);
  margin: auto;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  
  /*
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  */
}

.multsym_container
{
  height:  calc(8vh + 8vw);
  width: 15px;
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
}

.multsym
{
  font-size: 20px;
}

.sin_cos_font
{
  font-size: 1.4vh;
}

.x_font
{
  font-size: 1.5vh;  
}

.matrix_container
{
  display: inline-block;
  white-space: normal;
  /*float: left;*/
  border: 0px solid red;
  width: calc(7vh + 8vw);
  height: 100%;
}

.matrix
{
  border: 0px solid blue;
  font-size: 2vh;
  width:  100%;
  height: calc(7vh + 7vw);
  cursor: pointer;
  margin-top: 4%;
}

.matrix_title
{
  font-size: 3vh;
}

.matrix_bracket
{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /*float: left;*/
  display: inline-block;
  white-space: normal;
  height:  calc(6vh + 6vw);
  width: 1%;
  margin-top: calc(1.5vh + 1.5vw);
}

.open
{
  background-image: url('../../resources/img/round_bracket_open.png');
}

.close
{
  background-image: url('../../resources/img/round_bracket_close.png');
}
  
.row
{
  border: 0px solid red;
  width:  100%;
  height: 25%;
  display: block;
}

.cell
{
  border: 0px solid green;
  width: 25%;
  height: 100%;
  display: inline-block;
}

.highlighted
{
  color: var(--dark_red);
  font-weight: bolder;
}

input[type=range]
{
 /* visibility: hidden;*/
}

#sliderContainer
{
  height: auto;
}

.innerSliderContainer
{
  display: none;
}

#teapotContainer
{
  border: 0px solid red;
  width: 30vw;
  height: 30vh;  
  margin: 0% auto 2% auto;
}