input[type=radio]
{
  width: 1.5em;
  height: 1.0em;
  margin-left: 0% !important;
}

fieldset
{
	width: 100%;
	align: left;
}

fieldset, label
{
  font-size: 3vh !important;
}

body
{
  width: 80vw;
  margin: auto;
}