.canvas
{
  width: 60vh;
  height: auto;
  margin-top: -2%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
  background: url(https://upload.wikimedia.org/wikipedia/commons/8/8d/Hoerflaeche.svg);
  background-repeat: no-repeat;
  background-position-x: -3px;
  background-size: 97%
}

.slider_block
{
  margin-top: 5vh;
  margin-bottom: 0vh !important;
}

.slider_wrapper
{
  margin-left: auto;
  margin-right: auto;
  margin-top: -4vh;
  width:    66vh;
  height:   20vh;
}

.my_text
{
  font-size: 3vh !important;
}