<head>

	<meta charset="UTF-8"/>

	<!-- ToDo: change paths!-->
	<link rel="stylesheet" href="../../resources/css/stylesheet.css">
	<link rel="stylesheet" href="../../resources/css/stylesheet_mc.css">

</head>

<body>

	<script type="text/javascript" src="../../resources/js/augucation_list.js"></script>
	<script type="text/javascript" src="../../resources/js/slideshow.js"></script>
	<script type="text/javascript" src="../../resources/js/css_variable_manager.js"></script>
	<script src="../../resources/js/plugins/PapaParse-4.1.2/papaparse.js"></script>

	<div class="mc_container_container">
		<div id="mc_container" class="mc_container my_text"></div>
	</div>

	<div class="check_btn_container">
			<input type="button" class="check button" value="Check" onclick="check();"/>
		</div>

	<div>
		<input id="backBtn" type="button" class="back button" onclick="CloseAugucation(1, 135);" name="back" value="<<"/>
	</div>

	<script type="text/javascript" src="mc.js"></script>
</body>
