.img_formula
{
  width:  20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.plots_wrapper
{
  position: relative;
  display:  block;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  width:    60vw;
  height:   37.08vw;
}

.plot_chart
{
  display: inline-block;
  width: 49.65%;
  height: 49.65%;
  margin-left: auto;
  margin-right: auto;
}

.plot_chart.small
{
  width: 19.67%;
  height: 19.54%;
}

.slider_wrapper
{
  position: relative;
  display:  block;
  margin-top: -10%;
  margin-left: auto;
  margin-right: auto;
  width:    24.27vw;
  height:   15vw;
}

.slider
{
  margin-bottom: 10% !important;
}


.slider_top_label
{
  margin-bottom: 2% !important;
}

@-moz-document url-prefix()
{
.slider_top_label
{
  margin-bottom: 0% !important;
}
}